body{
    background-color: #E5E5E5;
    font-family: 'Roboto', sans-serif;
}
#header{
    height: 15vh;
    background-color: black;
    color:#FFFFFF;

}
h2 {
    text-transform: uppercase;
}
.card{
    width: 400px;
    height: 200px;
    margin: 20px;
    
}
.iam{
    margin: 20px;
}
.titulo{
    color: #1DA1F2;
}
.presentacion{
    background-color: #FFFFFF;
}
.foto-perfil{
    width: 90px;
    height: 90px;
}
.imagen{
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}


.elementos-header{
    display: flex;
    align-items: center;
    justify-content: space-around;
}